{% extends 'base.html.twig' %}

{% block title %}ConstructionType index{% endblock %}

{% block body %}
    <h1>ConstructionType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for construction_type in construction_types %}
            <tr>
                <td>{{ construction_type.id }}</td>
                <td>{{ construction_type.name }}</td>
                <td>
                    <a href="{{ path('construction_type_show', {'id': construction_type.id}) }}">show</a>
                    <a href="{{ path('construction_type_edit', {'id': construction_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('construction_type_new') }}">Create new</a>
{% endblock %}
